var/*
!var/config/
var/config/*
!var/config/startup.php
vendor
web/website/var/

# Ignore files installed by Composer
web/pimcore/
web/plugins/
web/website/controllers/DefaultController.php
web/website/lib/Website/Controller/Action.php
web/website/lib/Website/Tool/Text.php
web/website/views/scripts/default/default.php
web/index.php
.htaccess
composer.phar
migrations.yml
migrations-db.php
